
<div class="row">
    <div class="col-12">
        <div class="wrapper wrapper-content">
            <div class="ibox">
                <div class="ibox-content">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>ID</label>
                                    <input type="text" id="UpdateAsset_ID" class="form-control" />
                                    <div class="form-group">
                                        <label>NANE</label>
                                        <input type="text" id="UpdateAsset_Name" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Serail Number</label>
                                        <input type="text" id="UpdateAsset_Serial" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Type</label>
                                        <input type="text" id="UpdateType_ID" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Date Buy</label>
                                        <input type="text" id="UpdateAsset_Datebuy" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Date Warranty</label>
                                        <input type="text" id="UpdateAsset_Waranty" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input type="text" id="UpdateAsset_Price" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Supply</label>
                                        <input type="text" id="UpdateAsset_Supply" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>USER</label>
                                        <input type="text" id="UpdateUser_ID" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>ADMIN</label>
                                        <input type="text" id="UpdateAdmin_ID" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Asset NO.</label>
                                        <input type="text" id="UpdateAsset_Number" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Date Modify</label>
                                        <input type="text" id="UpdateAsset_Modify" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success" onclick="UpdateAsset()">แก้ไข</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

